.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cell {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
}

.header {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}

.main {
  flex: 1 1 auto;
}

.footer {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}
