.container {
  position: relative;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  color: #ffffff;
  background-position: center;
  background-size: cover;

  b {
    font-weight: 400;
  }
}

.vertical {
  .wrapper {
    transform: scale(0.8) !important;
  }

  .cell .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;

    .decor {
      padding: 0 10px;
    }

    .title {
      padding: 5px 0;
      background: transparent;
      font-weight: 400;
      color: #fff;
    }
  }
}

.type-descr {
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.9);
}


.browser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 22px;
  width: 290px;
  min-width: 290px;
  max-width: 290px;
  cursor: pointer;
  transition: 500ms ease-out;
  overflow: hidden;

  &:hover {
    background: rgba(161, 138, 255, 0.2);
    transform: scale(1.025);
  }

  .wrapper {
    transform: scale(0.9);
  }

  .browser {
    background: #fff;
  }
}

.title {
  font-size: 16px;
  color: #f5f0ff;
  font-weight: 100;
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(176deg, rgba(50,44,111,1) 0%, rgba(255,255,255,0) 100%);
}

.description {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.wrapper {
  text-align: left;
}

.graph {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.star {
    height: 340px;
  }
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.button {
  cursor: pointer;
  background: #7e48c4;
  padding: 5px 15px;
  font-size: 13px;
  color: #fff;
  border: 1px solid #ae7ce3;
  border-radius: 4px;
}

.decor {
  border-radius: 100%;
  margin: 10px auto;

  &.star {
    &.M {
      background: #ff1500;
      box-shadow: 0 0 10px #ff1500;
      width: 90px;
      height: 90px;
    }
    &.K {
      background: #ffb23a;
      box-shadow: 0 0 10px #ffb23a;
      width: 130px;
      height: 130px;
    }
    &.G {
      background: #fff801;
      box-shadow: 0 0 10px #fff801;
      width: 170px;
      height: 170px;
    }
    &.F {
      background: #fffdc7;
      box-shadow: 0 0 10px #fffdc7;
      width: 220px;
      height: 220px;
    }
    &.A {
      background: #ebf6ff;
      box-shadow: 0 0 10px #ebf6ff;
      width: 260px;
      height: 260px;
    }
    &.B {
      background: #7ad6ff;
      box-shadow: 0 0 10px #7ad6ff;
      width: 300px;
      height: 300px;
    }
    &.O {
      background: #008eff;
      box-shadow: 0 0 10px #008eff;
      width: 340px;
      height: 340px;
    }
    ~ p {
      font-size: 18px;
    }
  }

  &.planet, &.moon {
    &.selena {
      background: #a0a0a0;
      width: 20px;
      height: 20px;
    }
    &.subterra {
      background: #b57c00;
      width: 30px;
      height: 30px;
    }
    &.terra {
      background: #639e53;
      width: 40px;
      height: 40px;
    }
    &.superterra {
      background: #299190;
      width: 60px;
      height: 60px;
    }
    &.neptunian {
      background: #4984ac;
      width: 75px;
      height: 75px;
    }
    &.jovian {
      background: #9d9356;
      width: 85px;
      height: 85px;
    }
    ~ p {
      font-size: 14px;
    }
  }
}

